@using Expert.Web.DTOs;
@model UserViewModel;
    
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Firstname</th>
            <th scope="col">Lastname</th>
            <th scope="col"></th>
            </tr>
    </thead>
    @foreach(var item in Model.Users)
    {
        <tbody>
            <tr>
                <th>@item.Id</th>
                <th>@item.FirstName</th>
                <th>@item.LastName</th>
                <th><input type="number" id="typeNumber" asp-for="Score" class="form-control"/></th>
                <th><button type="button" asp-action="index" class="btn btn-info">Submit</button></th>
            </tr>
        </tbody>
    }
</table>